<div>
<p id="notice"><%= notice %></p>
<div>
<p> 
  <table style="width:50%" class="table table-hover" align="center" >
    <caption><h2>User Details</h2></caption>
    <tr>
    <%#=User.find(params[:id]).name%>
      <th > <strong >Name:</strong></th>
      <th><%= @user.name %></th>
    </tr> 

    <tr>
      <td><strong>user ID:</strong></td>
      <td><%= @user.email %></td>
    </tr>
     
  </table>
