
 					<div class="col-lg-6 col-md-6">
                        
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                               <h1>Editing Expense</h1>
                            </div>
                            <div class="panel-body">
                               <%= render 'form' %>

                            </div>
                            <div class="panel-footer">
								<%= link_to 'Show', @cost , class: "btn btn-primary"%> |
                                <%= link_to 'Back', costs_path , class: "btn btn-primary"%>
                            </div>
                        </div>
                    </div>

